<%- include("Partials/header.ejs") %>
    <section class="h-100 h-custom" style="background-color:white;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhRDf5R4idZ3871IGtm6ltDP9IT5Fr7q4dZg&usqp=CAU"
                            class="w-100" style="border-top-left-radius: .2rem; border-top-right-radius: .2rem;"
                            height="150px" alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Preferences Info</h3>
                            <form class="px-md-2" method="POST" action="/editPreff/<%= user.id %>">

                            <div class="row">

                                <div class="col-md-6 mb-4">


                                    <label for="">Work Mode</label>
                                    <select class="select" name="work_mode">

                                        <option value="1" disabled>Mode</option>
                                        <option value="At Office Center">At Office Center</option>
                                        <option value="Work From Home">Work From Home</option>
                                        <option value="Both">Both</option>


                                    </select>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <label for="Location">Location Preference</label>
                                    <select class="select" name="loc_pref">

                                        <option value="Outside Mumbai">Outside Mumbai</option>
                                        <option value="Navi Mumbai">Navi Mumbai</option>
                                        <option value="Central zone">Central zone</option>
                                        <option value="Western Zone">Western Zone</option>
                                        <option value="Harbour Zone">Harbour Zone</option>
                                        <option value="In - Office (Mahim)">In - Office (Mahim)</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label for="other">When would you prefer to volunteer?
                                    </label>
                                    <select class="select" name="workday_pref">

                                        <option value="Weekend">On Weekend</option>
                                        <option value="Weekday">On weekday</option>
                                        <option value="Both">Both</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <label for="other">Please indicate your top 3 Volunteering preferences:
                                    </label>
                                    <select class="select" name="activity_pref">
                                        <option value="Play sessions with Children">Play sessions with Children</option>
                                        <option value="Toy collection and Distribution">Toy collection and Distribution</option>
                                        <option value="Inventory and Gameplay">Inventory and Gameplay</option>
                                        <option value="Research and Impact Assessments">Research and Impact Assessments</option>
                                        <option value="Events and Fundraising">Events and Fundraising</option>
                                        <option value="Content and Design">Content and Design</option>
                                        <option value="Toybank Ambassador">Toybank Ambassador</option>
                                    </select>
                                </div>

                            </div>

                            <input class="next" type="submit" value="Next" />
                            <!-- <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("Partials/footer.ejs") %>