<%- include("Partials/header.ejs") %>
    <section class="h-100 h-custom" style="background-color:white;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhRDf5R4idZ3871IGtm6ltDP9IT5Fr7q4dZg&usqp=CAU"
                            class="w-100" style="border-top-left-radius: .2rem; border-top-right-radius: .2rem;"
                            height="150px" alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
                            <form class="px-md-2" method="POST" action="/editProfile/<%= user.id %>">

                            
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <tr>
                                        <td>
                                            Languages spoken;
                                        </td>
                                        <br>
                                        <td>
                                            <input name="lang1" type="checkbox" Marathi>Marathi
                                            <input name="lang2" type="checkbox" Hindi> Hindi
                                            <input name="lang3" type="checkbox" English>English

                                        </td>
                                    </tr>
                                </div> -->


                                <div class="col-md-6 mb-4">
                                    <label for="otherlang"> If other(Please Specify)</label>
                                    <input name="lang4" type="text" id="lang4" class="form-control" />
                                </div>
                            </div>
                            
                            
                          
                            <input class="next" type="submit" value="Next" />
                            <!-- <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("Partials/footer.ejs") %>