<!DOCTYPE html>
<html lang="en">
<style>
    ul {
        padding: 0%;
        margin: 0 0 0 150px;
        list-style: none;
    }

    nav {
        width: 100%;
        overflow: auto;
        background: black;
    }

    li {
        float: left;
    }

    .logo img {
        position: absolute;
        margin-top: 15px;
        margin-left: 10px;

    }

    nav a {
        width: 100px;
        display: block;
        padding: 20px 15px;
        text-decoration: none;
        font-family: Arial;
        color: #f2f2f2;
        text-align: center;
    }
    .footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    
    bottom: 0;
}
</style>

<head>
    <title> Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
    
    <div class="logo"><a href="#"><img
        src="images/logo.png"
        height="40px" width="120px"></a></div>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/editProfile">Profile</a></li>
    <li><a href="/editPreff">Preferences</a></li>
    <li><a href="/editSkill">Edit Skills</a></li>
    <li><a href="/logout">Sign Out</a></li> -->
    <li><a href="/register">Register</a></li>
    <li><a href="/admin-login">Admin Login</a></li>
</ul>

</nav>
    <!-- <img class="wave" src='images/bg.svg'"> -->
    <div class="container">
        <div class="img">
            <img src="images/bg.svg">
        </div>
        <div class="login-content">
            
            <form method="POST" action="/login">
                <img src="images/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <!-- <h5>Email</h5> -->
                        <input type="email" name="email" class="input" placeholder="Email">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <!-- <h5>Password</h5> -->
                        <input type="password" name="password" class="input" placeholder="Password">
                    </div>
                </div>

                <a href="#">Forgot Password?</a>
        
                <input type="submit" class="btn" value="Login">
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="error">
                                <%- item %>
                            </div>
                            <% }); %>
                                <% } %>
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register" class="btn">Register</a></p>
                            
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
    <div class="footer">
        <div class="container">
            <center>
                <p>Copyright &copy;ToyBank. All Rights Reserved | Contact Us: +91 90000 00000</p>
            </center>
        </div>
    </div>
</body>


</html>