<%- include("Partials/header.ejs") %>
    <section class="h-100 h-custom" style="background-color:white;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhRDf5R4idZ3871IGtm6ltDP9IT5Fr7q4dZg&usqp=CAU"
                            class="w-100" style="border-top-left-radius: .2rem; border-top-right-radius: .2rem;"
                            height="150px" alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
                            <form class="px-md-2" method="POST" action="/editProfile/<%= user.id %>">

                            <!-- <div class="form-outline mb-4">
                                <label for="name">Full Name</label>
                                <input type="text" id="name" name="name" class="form-control" required
                                    value="" />

                            </div> -->

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline datepicker">
                                        <label for="birthday">DOB:</label>
                                        <input type="date" id="dob" name="dob" required>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <label for="birthday">Gender:</label>
                                    <select class="select" id="gender" name="gender">

                                        <option value="1" disabled>Gender</option>
                                        <option value="Female">Female</option>
                                        <option value="Male">Male</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-outline mb-4">
                                <label for="address">Residential Address</label>
                                <input type="text" id="address" name="address" class="form-control" />

                            </div>
                            <!-- <div class="form-outline mb-4">
                                <label for="address">Professional Address</label>
                                <input type="text" class="form-control" />

                            </div> -->
                            <div class="form-outline mb-4">
                                <label for="address">City</label>
                                <input type="text" id="city" name="city" class="form-control" />

                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6 mb-4">

                                    <label for="email">Email ID</label>
                                    <input type="email" id="email" name="email" class="form-control"   value="" />

                                </div> -->
                                <div class="col-md-6 mb-4">


                                    <label for="contact">Contact</label>
                                    <input type="number" id="contact" name="contact" class="form-control" required />

                                </div>


                            </div>
                            <div class="row">
                                <!-- <div class="form-group col-md-6 mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" value="" >
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" class="form-control" id="cpassword" name="cpassword" value="">
                                    <small id="emailHelp" class="form-text text-muted">Make sure to type same
                                        password.</small>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <label for="PartnerInst">Are you student of one of our partner Institutions</label>
                                    <select class="select" name="institution">

                                        <option value="Aditya Birla school">Aditya Birla school</option>
                                        <option value="Dhirubhai Ambani School">Dhirubhai Ambani School</option>
                                        <option value="Hillspring School">Hillspring School</option>
                                        <option selected="selected" value="Other">Other</option>
                                    </select>

                                </div>
                                <div class="col-md-6 mb-4">


                                    <label for="clg">if Not(Please specify your school/college name)</label>
                                    <input type="text" name="other_inst" id="institution_other"
                                        class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <label for="Partenerorg">Are you an employee of one of our partner organizations?
                                    </label>
                                    <select class="select" name="organizations">


                                        <option value="Deloitte India">Deloitte India</option>
                                        <option value="Morgan Stanley India">Morgan Stanley India</option>

                                        <option selected="selected" value="Other">Other</option>
                                    </select>

                                </div>
                                <div class="col-md-6 mb-4">


                                    <label for="clg">if Not(Please specify organizations name)</label>
                                    <input type="text" name="other_org" id="organization_other"
                                        class="form-control" />

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 mb-4">
                                    <label for="acedamic">Academic Qualification</label>
                                    <select class="select" name="qualification">

                                        <option value="Post Graduation">Post Graduation</option>
                                        <option value="Graduation">Graduation</option>
                                        <option value="12th">12th</option>
                                        <option value="10th or Below 10th">10th or Below 10th</option>
                                        <option selected="selected" value="None">None</option>

                                    </select>
                                    <!-- <label for="Nationality">Nationality</label>
                                        <input type="text" id="form3Example1q" class="form-control" /> -->

                                </div>
                                <div class="col-md-6 mb-4">
                                    <label for="occupation">Occupation</label>
                                    <input type="text" id="occupation" name="occupation" class="form-control" />
                                </div>

                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6 mb-4">
                                    <tr>
                                        <td>
                                            Languages spoken;
                                        </td>
                                        <br>
                                        <td>
                                            <input name="lang1" type="checkbox" Marathi>Marathi
                                            <input name="lang2" type="checkbox" Hindi> Hindi
                                            <input name="lang3" type="checkbox" English>English

                                        </td>
                                    </tr>
                                </div> -->


                                <!-- <div class="col-md-6 mb-4">
                                    <label for="otherlang"> If other(Please Specify)</label>
                                    <input name="lang4" type="text" id="lang4" class="form-control" />
                                </div> -->




                            </div>
                            <div class="row">
                                <div class="col-md- mb-4">

                                    <label for="address">Nationality</label>
                                    <input name="nationality" type="text" id="nationality" class="form-control" />

                                </div>
                                <div class="col-md-6 mb-4">


                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <label for="events">Why do you wish to volunteer at Toybank?</label>
                                <input type="text" id="wish" name="wish" class="form-control" />

                            </div>


                            <input class="next" type="submit" value="Next" />
                            <!-- <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include("Partials/footer.ejs") %>