body {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
  }
  
  input {
    display: block;
    margin: 1rem auto;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid;
    width: 90%;
    box-sizing: border-box;
    font-family: "Quicksand", "fontAwesome", sans-serif;
  }
 
  .footer {
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .next {
    color: white;
    background-color: #089d08;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
  }
  
  
  .main {
    background-color: #f0f5f9;
    width: 35%;
    /* height: 33%; */
    margin: 1.5% auto 2%;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  
 
  .heading {
    font-size: 2.3rem;
  }
  
  .next:hover {
    background-color: #09a809;
    transition: background-color 0.075s;
  }
  
  
  .error {
    background-color: rgb(211, 97, 97);
    padding: 0.5rem 2rem;
    border-radius: 3px;
    width: 90%;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    margin: 1.5% auto;
    font-size: medium;
  }
  
  @media (max-width: 768px) {
    .top {
      width: 50%;
    }
    .main {
      width: 50%;
    }
  }
  
  @media (max-width: 1000px) {
    .top {
      width: 55%;
    }
    .main {
      width: 55%;
    }
  }

  /* EXTRAS ADDED  */
  .footer {
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
  }