<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>

</body>
<br>

<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
        <center>
            <span>Get connected with us on social networks:</span>
            </center>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f">Facebook</i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter">Twitter</i>
            </a>
            
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram">Instagram</i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin">Linkedin</i>
            </a>
           
        
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Toybank
                    </h6>
                    <p>
                        Toybank's goal is simple yet so difficult to achieve. Every child should have the opportunity to play with games and
                        toys and to learn from that experience.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Events
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Mega Toy Distribution</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">xyz</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">abc</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">def</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Covid 19 Response</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">PlayatHome Kit
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Annual Report 2018-19</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Annual Report 2019-20</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>ToyBank T2 Batch</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@toybankt2.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Toybankt2.com</a>
    </div>
    <!-- Copyright -->
</footer>

</html>